/******************************Styling for blog page**************************************************/
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("blog_responsive.css");

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  /* display: inline; */
}
/*********************************Styling for Grid Conatiner******************************************/
.container {
  /* display: grid;
  grid-template-rows: 130px repeat(4, 1fr);
  grid-template-columns: 1fr; */
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
/**********************************Styling for Menu bar************************************************/
.header_container {
  grid-row: 1 / 2;
  background-color: black;
}
.logo {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Akaya Telivigala", cursive;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menu_item a {
  text-decoration: none;
  color: white;
  font-family: "Akaya Telivigala", cursive;
  font-size: 20px;
}
/****************************Styling for blog container************************************************/
.blog_container {
  grid-row: 2 / 3;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.blog_image {
  /* border: 1px solid red */
}
.blog_post {
  /* border: 1px solid gold; */
  text-align: center;
}
/********************************Styling for previous blog container************************************/
.previous_blog_container {
  /* grid-row: 3 / 4; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 1px solid #888888;
  box-shadow: 3px 5px #888888;
}
.previous_blog_image img {
  display: block !important;
}
.previous_blog a {
  text-decoration: none;
  color: black;
}
/******************************Styling for author info container****************************************/
.author_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #888888;
  box-shadow: 3px 5px #888888;
  margin: 20px;
  /* padding: 20px; */
  /* margin: auto; */
}
.author_avatar img {
  border: 1px solid black;
  border-radius: 100%;
  /* margin: auto; */
}
.author_bio {
  text-align: center;
}
/**************************************Styling for footer***********************************************/
.footer_container {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}
.footer_copyright {
}
.footer_icons {
  /* justify-content: space-around; */
  margin: auto;
}
.footer_icons a {
  color: white;
  padding-left: 5px;
}
