@media screen and (min-width: 600px) and (max-width: 1824px) {
  .container {
    display: grid;
    grid-template-rows: 80px repeat(4, 1fr) !important;
    grid-column: 1fr;
  }
  .header_container {
    grid-row: 1 / 2 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    padding: 0px !important;
  }
  .logo {
    grid-column: 1 / 2;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Akaya Telivigala", cursive;
    margin: auto !important;
    
  }
  .menu {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    list-style: none;
    
  }
  .menu_item a {
    text-decoration: none;
    color: white;
    font-family: "Akaya Telivigala", cursive;
    font-size: 20px;
  }
  /*******************************************Blog container********************************************/
  .blog_container{
    display: grid;
  }
}
