@media screen and (min-width: 600px) and (max-width: 850px) {
  * {
    box-sizing: border-box;
  }
  .container {
    display: grid !important;
    grid-template-rows: 80px repeat(4, 1fr) !important;
    grid-template-columns: 100px 1fr 1fr !important;
    height: 100vh !important;
    /* width: 100vw !important; */
  }
  /******************************************Header Styling*************************************************/
  .header_container {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 4 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    padding: 0px !important;
  }
  .logo {
    grid-column: 1 / 2;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Akaya Telivigala", cursive;
    margin: auto !important;
  }
  .menu {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    list-style: none;
  }
  .menu_item a {
    text-decoration: none;
    color: white;
    font-family: "Akaya Telivigala", cursive;
    font-size: 20px;
  }
  /**********************************************Hero image container ***********************************************/
  .about_container {
    grid-row: 2 / 3 !important;
    grid-column: 1 / 4 !important;
    /* background-size: 100%  !important;  */
    display: grid !important;
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .about_heading {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 4 !important;
    overflow: hidden !important;
    margin-top: auto !important;
    color: white !important;
  }
  .about_text {
    grid-row: 2 / 3 !important;
    grid-column: 2 / 3 !important;
  }
  /*******************************************Card Container********************************************/
  .content_container {
    grid-row: 3 / 4 !important;
    grid-column: 1 / 4 !important;
    background-color: gray !important;
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  }
  .content_card_one {
    background-color: white !important;
  }
  .content_card_two {
    background-color: white !important;
  }
  .content_card_three {
    background-color: white !important;
  }
  /************************************************Footer container*************************************/
  .footer_container {
    grid-row: 4 / 5 !important;
    grid-column: 1 / 4 !important;
    display: grid !important;
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr 1fr !important;
    /* overflow: hidden !important; */
    padding: 0px !important;
    margin: 0px !important;
  }
  .footer_copyright {
    grid-column: 1 / 2 !important;
    grid-row: 1 / 1 !important;
    margin: auto !important;
  }
  .footer_icons {
    grid-column: 2 / 2 !important;
  }
}
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
@media screen and (min-width: 851px) and (max-width: 1200px) {
  .container {
    display: grid !important;
    grid-template-rows: 80px repeat(4, 1fr) !important;
    grid-template-columns: 100px 1fr 1fr !important;
    height: 100vh !important;
    /* width: 100vw !important; */
  }

  .header_container {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 4 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    padding: 0px !important;
  }
  .logo {
    grid-column: 1 / 2;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Akaya Telivigala", cursive;
    margin: auto !important;
  }
  .menu {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    list-style: none;
  }
  .menu_item a {
    text-decoration: none;
    color: white;
    font-family: "Akaya Telivigala", cursive;
    font-size: 20px;
  }
  .about_container {
    grid-row: 2 / 3 !important;
    grid-column: 1 / 4 !important;
    /* background-size: 100%  !important;  */
    display: grid !important;
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .about_heading {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 4 !important;
    overflow: hidden !important;
    text-align: center !important;
    margin-top: auto !important;
    color: white !important;
  }
  .about_text {
    grid-row: 2 / 3 !important;
    grid-column: 2 / 3 !important;
  }
  .content_container {
    grid-row: 3 / 4 !important;
    grid-column: 1 / 4 !important;
    background-color: gray !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: 1fr !important;
  }
  .content_card_one {
    background-color: white !important;
  }
  .content_card_two {
    background-color: white !important;
  }
  .content_card_three {
    background-color: white !important;
  }
  .footer_container {
    grid-row: 4 / 5 !important;
    grid-column: 1 / 4 !important;
    display: grid !important;
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr 1fr !important;
    /* overflow: hidden !important; */
    padding: 0px !important;
    margin: 0px !important;
  }
  .footer_copyright {
    grid-column: 1 / 2 !important;
    grid-row: 1 / 1 !important;
    margin: auto !important;
  }
  .footer_icons {
    grid-column: 2 / 2 !important;
  }
}
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
@media screen and (min-width: 1201px) and (max-width: 1824px) {
  .container {
    display: grid !important;
    grid-template-rows: 80px repeat(4, 1fr) !important;
    grid-template-columns: 100px 1fr 1fr !important;
    height: 100vh !important;
    /* width: 100vw !important; */
  }
  .header_container {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 4 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    padding: 0px !important;
  }
  .logo {
    grid-column: 1 / 2;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Akaya Telivigala", cursive;
    margin: auto !important;
  }
  .menu {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    list-style: none;
  }
  .menu_item a {
    text-decoration: none;
    color: white;
    font-family: "Akaya Telivigala", cursive;
    font-size: 20px;
  }
  .about_container {
    grid-row: 2 / 3 !important;
    grid-column: 1 / 4 !important;
    /* background-size: 100%  !important;  */
    display: grid !important;
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 0.5fr 1fr 0.5fr !important;
  }
  .about_heading {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 4 !important;
    overflow: hidden !important;
    text-align: center !important;
    margin-top: auto !important;
    color:black !important;
  }
  .about_text {
    grid-row: 2 / 3 !important;
    grid-column: 2 / 3 !important;
  }
  .content_container {
    grid-row: 3 / 4 !important;
    grid-column: 1 / 4 !important;
    background-color: gray !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 1fr !important;
  }
  .content_card_one {
    background-color: white !important;
  }
  .content_card_two {
    background-color: white !important;
  }
  .content_card_three {
    background-color: white !important;
  }
  .footer_container {
    grid-row: 4 / 5 !important;
    grid-column: 1 / 4 !important;
    display: grid !important;
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr 1fr !important;
    /* overflow: hidden !important; */
    padding: 0px !important;
    margin: 0px !important;
  }
  .footer_copyright {
    grid-column: 1 / 2 !important;
    grid-row: 1 / 1 !important;
    margin: auto !important;
  }
  .footer_icons {
    grid-column: 2 / 2 !important;
  }
}
