/*******************************Styles for responsive layout********************************************/
@media screen and (max-width: 600px) {
  body {
    /* overflow-x: hidden !important; */
  }
  .container {
    /* background-color: red; */
    
  }
  .header_container {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
  }
  .logo {
    grid-column: 1 / 2;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Akaya Telivigala", cursive;
  }
  .menu {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    /* align-items: center; */
    list-style: none;
  }
  .menu_item a {
    text-decoration: none;
    color: white;
    font-family: "Akaya Telivigala", cursive;
    font-size: 20px;
  }
  /*************************************About Container***********************************************/
  .about_container {
    display: grid !important;
    grid-template-columns: 1fr!important;
    
  }
  .about_heading {
    grid-column: 1 / 1 !important;
  }
  .about_heading h1{
    font-size: 30px !important;
  }
  .about_text {
    grid-column: 1 / 1 !important;
    /* margin-right: 20px !important; */
  }
  .about_text p {
    color: white !important;
    /* margin: 20px !important; */
    
  }
}
