@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("content_layout.css");
@import url("responsive_styling.css");
@import url("blog_style.css");

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
/************************************************Styling for the grid container*********************/
.container {
  display: grid;
  grid-template-rows: 70px repeat(3, 1fr);
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
}
/************************************************Styling for header box/container*********************/
.header_container {
  grid-row: 1 / 2;
  background-color: black;
  display: grid;
  grid-template-columns: 300px 1fr 2fr;
}
.logo {
  grid-column: 2 / 3;
  margin-top: 10px;
  font-family: "Akaya Telivigala", cursive;
  font-size: 40px;
}
.nav {
  grid-column: 3 / 3;
  display: flex;
  /* margin: auto; */
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  /* padding: 10px; */
}
.nav_item {
  margin-left: 20px;
  font-family: "Akaya Telivigala", cursive;
  font-size: 20px;
}
.header_container a {
  text-decoration: none;
  color: whitesmoke;
}
/************************************************Styling for the about section ************************/
.about_container {
  grid-row: 2 / 3;
  /* background-color: red; */
  background-image: url(../images/katie-drazdauskaite-y6Fa0cHKJGc-unsplash.jpg);
  background-size: cover;
  /* filter: blur(8px); */
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr 0.8fr;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  /* height: 700px; */
}
.about_heading {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  
  
}
.about_heading h1{
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: "Akaya Telivigala", cursive;
}
.about_text {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  
}
.about_text p{
  color: black;
  font-family: "Akaya Telivigala", cursive;
  font-size: 20px;
}
/*************************************Styling for blogs/content*****************************************/

/***************************************Styling for footer**********************************************/
.footer_container {
  grid-row: 4 / 4;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: white;
  grid-gap: 10px;
  padding: 10px;
}
.footer_copyright {
  grid-column: 1 / 2;
  text-align: center;
}
.footer_socials {
  grid-column: 2 / 2;
  text-align: center;
}
.footer_socials a {
  margin-left: 10px;
  color: white;
}
