@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("responsive_styling.css");
@import url("header.css");

body{
  height: 100%;
  width: 100%;
  margin: 0px;
}
.container{
  display: flex;
  flex-direction: column;
  font-family: "Akaya Telivigala", cursive;;
}
.about_container{
  background-image: url('../images/katie-drazdauskaite-y6Fa0cHKJGc-unsplash.jpg');
  background-size: 100% 100%;
}
.about_container h1{
  text-align: center;
  font-size: 40px;
}
.about_text{
  color: white;
  font-size: 20px;
  
}
.about_text p{
  margin-left: 10px;
}
.content_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content_card_one{
  border: 1px solid silver;
  margin: 10px;
}
.content_card_one h1{
  text-align: center;
}
.content_card_one img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 400px;
}
.content_card_one h2{
  text-align: center;
  font-size: 23px;
}
.content_card_one p{
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
.content_card_one a{
  text-align: center;
  text-decoration: none;
}
/**/
.content_card_two{
  border: 1px solid silver;
  margin: 10px;
}
.content_card_two h1{
  text-align: center;
}
.content_card_two img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 400px;
}
.content_card_two h2{
  text-align: center;
  font-size: 23px;
}
.content_card_two p{
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
.content_card_two a{
  text-decoration: none;
}
/**/
.content_card_three{
  border: 1px solid silver;
  margin: 10px;
}
.content_card_three h1{
  text-align: center;
}
.content_card_three img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 400px;
}
.content_card_three h2{
  text-align: center;
  font-size: 23px;
}
.content_card_three p{
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
.content_card_three a{
  text-decoration: none;
}
.footer_container {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  font-family: "Akaya Telivigala", cursive;;
}
.footer_copyright {
}
.footer_socials {
  /* justify-content: space-around; */
  margin: auto;
}
.footer_socials a {
  color: white;
  padding-left: 5px;
}